.experience-cell-comp {
  color: var(--color-on-surface);
  font-weight: var(--font-weight-medium);
  padding: var(--pad-md);
  z-index: 400;
  border-radius: var(--corner-radius);
  transition: ease-in-out box-shadow 400ms, background-color 400ms, transform 400ms;

  &.col {
    @media (min-width: 1200px) { flex-direction: row; }
  }
  
  &:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transform: translateX(3px);
  }
  
  .date { min-width: 200px; }
  
  .content-ctr {
    gap: var(--pad-sm);
  
    ul { gap: var(--pad-sm); }

    .company, .title {
      letter-spacing: 1px;
      font-size: var(--font-size-body-lg);
    }
    
    .company { font-weight: var(--font-weight-bolder); }
    
    .location {
      letter-spacing: 1px;
      font-size: var(--font-size-body-xs);
      text-transform: uppercase;
    }
  }
}