.landing-page {
  display: flex;
  flex-direction: column;
  gap: var(--pad-xl);
  @media (min-width: 800px) { gap: var(--pad-xxl); }

  .section { gap: var(--pad-sm); }

  .profile {
    justify-content: center;
    transform: translateX(-6px);
    @media (min-width: 800px) { justify-content: left; }

    .image-container {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
  
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .education {
    gap: var(--pad-xl);
    @media (min-width: 800px) { 
      flex-direction: row; 
      justify-content: space-between;
      gap: var(--pad-xxl);
    }

    .schools-subsection { 
      gap: var(--pad-sm);
      @media (min-width: 800px) { flex-grow: .5; }
    }

    .certifications-subsection { 
      gap: var(--pad-sm);
      @media (min-width: 800px) { flex-grow: .4; }
    }
  }
}