#landing-page {
  gap: var(--pad-xl);

  .header {
    margin: var(--margin-lg) 0;

    .links {
      gap: var(--pad-sm);
      font-size: var(--font-size-icons);
      margin-top: var(--margin-md);
    }
  }
  
  .section {
    gap: var(--pad-md);
  }
}