#landing-page {
  .header {
    .links {
      gap: var(--pad-sm);
      font-size: var(--font-size-icons);
      margin-top: var(--margin-md);
    }
  }
  
  .section {
    gap: var(--pad-md);
    margin-bottom: var(--pad-xxl);
    &:last-child { margin-bottom: 0; }

    .bio {
      font-size: var(--font-size-body-lg);
    }

    .text-image-container {
      margin-top: var(--pad-md);
      justify-content: center;
      align-items: center;
      gap: var(--pad-lg);

      @media (min-width: 800px) { flex-direction: row-reverse; }

      p { flex-grow: 1; }

      .overlay {
        overflow: hidden;
        width: 220px;
        height: 220px;
        border-radius: 50%;
        flex-shrink: 0;
  
        img {
          width: 100%;
        }
      }
    }
  }
}