.project-cell-comp {
  padding: var(--pad-lg);
  gap: var(--pad-md);
  border-radius: var(--corner-radius);
  box-shadow: var(--box-shadow);
  background: var(--color-surface);
  color: var(--color-on-surface);

  .header {
    font-size: var(--font-size-body-lg);
  }

  .info-container {
    justify-content: space-between;
    gap: var(--pad-sm);

    .subtitle {
      background-color: var(--color-primary);
      color: var(--color-on-primary);
      font-size: var(--font-size-body-xs);
      padding: var(--pad-xs) var(--pad-sm);
      border-radius: var(--corner-radius);
    }
  }

  img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: var(--corner-radius);
  }

  .links { 
    gap: var(--pad-md); 
  }
}