.experience-card-comp {
  margin: var(--margin-sm) 0;
  padding: var(--pad-lg);
  z-index: 400;
  border-radius: var(--corner-radius);
  transition: ease-in-out box-shadow 400ms, background-color 400ms, transform 400ms;

  &:hover {
    cursor: pointer;
    background-color: var(--color-surface);
    box-shadow: var(--box-shadow);
    transform: translateX(3px);
  }

  &.row {
    gap: var(--pad-xl);
  }
  
  .date {
    min-width: 200px;
  }
  
  .content-ctr {
    gap: var(--pad-sm);
  
    ul {
      gap: var(--pad-sm);
    }

    .company, .title {
      letter-spacing: 1px;
      font-size: var(--font-size-body-lg);
    }
    
    .company {
      font-weight: var(--font-weight-bolder);
    }
    
    .location {
      letter-spacing: 1px;
      font-size: var(--font-size-body-xs);
      text-transform: uppercase;
    }

    .technologies {
      flex-wrap: wrap;
      margin: var(--margin-sm) 0;
      gap: var(--pad-sm);
      
      .icon {
        font-size: 5px;
      }
      
      div {
        background-color: var(--color-primary);
        color: var(--color-on-primary);
        font-size: var(--font-size-body-sm);
        padding: var(--pad-xs) var(--pad-sm);
        border-radius: var(--corner-radius-sm);
      }
    }
  }
}