#projects-page {
  @media (min-width: 600px) { width: 90vw; }

  .header { 
    @media (min-width: 800px) {
      flex-direction: row;
      justify-content: space-between; 
    }

    .search-container {
      gap: var(--pad-xs);

      .searchbar {
        flex-grow: 1;
      }
    }
  }

  .projects-list {
    @media (min-width: 600px) { column-count: 2; }
    @media (min-width: 1200px) { column-count: 3; }
    @media (min-width: 1600px) { column-count: 4; }
  }
}