#projects-page {
  .back-icon { 
    font-size: var(--font-size-title);
    transform: translateY(8px);
    margin-right: var(--margin-lg);
  }

  .projects-list {
    margin: var(--margin-md) 0;
    column-count: 1;
    column-gap: var(--pad-lg);

    @media (min-width: 600px) { column-count: 2; }

    .project {
      break-inside: avoid;
      margin-bottom: var(--margin-lg);
    }
  }
}
