@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-background: #F0EEE9;
  --color-on-background: #1d1d1d;
  --color-on-background-dark: #000000;

  --color-surface: #fdfdfd;
  --color-on-surface: #000;

  --color-primary: #71a0be;
  --color-primary-hover: #4da1d4;
  --color-on-primary: #FFFFFF;

  --color-neutral: #5e5d5d;
  --color-neutral-light: #929292;
  --color-on-neutral: #212121;

  --color-shadow: rgba(18, 18, 18, 0.205);
  
  --font-weight-light: 300;
  --font-weight-reg: 400;
  --font-weight-bold: 500;

  --font-size-h1: 24px;
  --font-size-h2: 18px;
  --font-size-h3: 16px;
  --font-size-body: 14px;
  --font-size-sm: 12px;

  --icon-size: 26px;

  --pad-xs: 3px;
  --pad-sm: 8px;
  --pad-md: 16px;
  --pad-lg: 24px;
  --pad-xl: 36px;
  --pad-xxl: 80px;

  --corner-radius: 4px;

  --navigation-height: 48px;

  --box-shadow: 0px 1px 20px var(--color-shadow);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  font-family: 'Mulish', 'Inter', 'Helvetica Neue', 'Noto Sans', Arial, sans-serif;
  font-size: var(--font-size-body);
  line-height: 1.6;
  color: var(--color-on-background);
  background: var(--color-background);
  display: flex;
  justify-content: center;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

.caption {
  font-size: var(--font-size-sm);
  font-style: italic;
  color: var(--color-neutral);
}

.page-container {
  width: 100vw;
  margin: 0 auto;
  padding: var(--pad-xxl) var(--pad-md) var(--pad-md);

  @media (min-width: 600px) { width: 90vw; }
  @media (min-width: 1200px) { width: 70vw; }
  @media (min-width: 1600px) { width: 50vw; }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: var(--font-weight-bolder);
  color: var(--color-primary);

  &:hover { color: var(--color-primary-hover); }
}

select {
  font-family: 'Mulish', 'Inter', 'Helvetica Neue', 'Noto Sans', Arial, sans-serif;
  font-size: var(--font-size-body-md);
  border: 1px solid var(--color-neutral-light);
  border-radius: var(--corner-radius);
  padding: var(--pad-xs) var(--pad-sm);
}

.row {
  display: flex;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.icon {
  font-size: 38px;
}

.technologies {
  flex-wrap: wrap;
  margin: var(--pad-sm) 0;
  gap: var(--pad-sm);
  font-size: var(--font-size-sm);
  
  div {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    padding: var(--pad-xs) var(--pad-sm);
    border-radius: var(--corner-radius);
  }
}

.projects-list {
  margin: var(--pad-md) 0;
  column-count: 1;
  column-gap: var(--pad-lg);

  @media (min-width: 600px) { column-count: 2; }

  .project {
    break-inside: avoid;
    margin-bottom: var(--pad-lg);
  }
}